[Unit]
Description=activates the script
Requires=sscrapingcovid.service

[Timer]
Unit=sscrapingcovid.service
OnCalendar=*-*-* 10:00:00

[Install]
WantedBy=timers.target
